# Xcode
DerivedData/
xcuserdata/
*.xcuserstate

# Archive folders (Product | Archive)
NotarizedReleaseBundle/
AppStoreReleaseBundle/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# macOS
.DS_Store

# Xcode user state
**/*.xcuserstate

# Xcode workspace user data
**/xcuserdata/

# Xcode shared data (only include if you explicitly share schemes)
**/xcshareddata/

# Derived data logs
**/.derived-data-log-*
